#header{
    height: 60px;
    background: #000;
    padding:0 20px;
    .header_box{
        height: 60px;
        .logo{
            width: 60px;
            height: 60px;
            &:hover{
                cursor: pointer;
            }
        }
        .logo_title{
            height: 60px;
            line-height: 60px;
            font-size: 16px;
            color: #fff;
            .title_text{
                margin-left: 10px;
            }
        }
        .banner_box{
            height: 60px;
            width: 400px;
            line-height: 60px;
            color: #fff;
            margin-left: 50px;
        }
        .header_ben_all{
            height: 60px;
            .lock_box{
                margin-top: 20px;
                margin-right: 25px; 
            }
            .login_btn{
                margin-top: 13px;
            }
        }
    }
}