#index{
    .index_content{
        width: 100%;
        padding:20px;
        .login_history{
            width: 50%;
            height: 300px;
            padding:5px;
            .history_title{
                height: 50px;
                line-height: 50px;
                border-bottom: 1px solid #999;
                .ivu-icon{
                    font-size: 20px;
                    font-weight: bold;
                    margin-right: 5px;
                }
            }
            .ivu-table-wrapper{
                margin-top: 20px;
            }
            
        }
        .add_data{
            width: 50%;
            height: 300px;
            padding: 5px;
            .add_data_title{
                height: 50px;
                line-height: 50px;
                border-bottom: 1px solid #999;
                .ivu-icon{
                    font-size: 20px;
                    font-weight: bold;
                    margin-right: 5px;
                }
            }
            .add_data_content{
                margin-top: 20px;
                .title_min_box{
                    margin-left:15px;
                    font-weight: 400;
                }
            }
        }
        .consume_map_box{
            width: 50%;
            height: 400px;
            padding:5px;
            .map_title{
                height: 50px;
                line-height: 50px;
                border-bottom: 1px solid #999;
                .ivu-icon{
                    font-size: 18px;
                    font-weight: bold;
                    margin-right: 5px;
                }
            }
            .ve-pie{
                margin-top: 20px;
            }
        }
        .storage_map_box{
            width: 50%;
            height: 400px;
            padding:5px;
            .map_title{
                height: 50px;
                line-height: 50px;
                border-bottom: 1px solid #999;
                .ivu-icon{
                    font-size: 18px;
                    font-weight: bold;
                    margin-right: 5px;
                }
            }
            .ve-pie{
                margin-top: 20px;
            }
        }
    }
}